html, body, button {
  height: 100%;
  font-family: 'Avenir', sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: black;
}

#button {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
  width: 200px;
  height: 50px;
  margin: 15px;
}

#quote {
  background-color: white;
  color: black;
  width: 500px;
  height: 200px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}
